 String Datatype in Python--> str represents 
  string datatype--> A string is a sequence of
 character enclosed within single quotes or
 double quotes

In [1]:
s="Rohit"
print(type(s))

<class 'str'>

In [2]:
s='Rohit'
print(type(s))

<class 'str'>

-->By using single quotes('') or double quotes("") we cannot represent multiline string literals.

In [3]:
s="Computer
   Science"
print(s)

SyntaxError: unterminated string literal (detected at line 1) (994315933.py, line 1)

-->For this requirement we should go for triple quotes(''') or triple double quotes(""")

In [4]:
s="""Computer
   Science"""
print(s)
s1='''SK
     BU'''
print(s1)

Computer
   Science
SK
     BU

### Slicing of Strings

--> Slice means a piece --> [ ] operator is called slice operator. Which can be used to retrive parts of string. --> In python strings follows zero based index. --> The index can be either positive or negative -->positive index means forward direction from left to right --> Negative means backward direction from right to left.

In [5]:
s="Computer"

In [6]:
s

'Computer'

In [7]:
s[0]

'C'

In [8]:
s[-1]

'r'

In [9]:
s[40]

IndexError: string index out of range

In [10]:
s[1:100]

'omputer'

In [11]:
s[ :5]

'Compu'

In [12]:
s[1:]

'omputer'

In [13]:
s[-100]

IndexError: string index out of range

In [14]:
s[0:-1]

'Compute'

In [15]:
s[-4:-1]

'ute'

In [16]:
s*3

'ComputerComputerComputer'

s[ begin : end : step ]

In [17]:
s[0:6:2]

'Cmu'

Print your name 10 times

In [18]:
print("Rohit\n"*10)

Rohit
Rohit
Rohit
Rohit
Rohit
Rohit
Rohit
Rohit
Rohit
Rohit

## Typecasting in python

--> We can convert one type value to another type. This convertion is called Typecasting of Type coersion.

--> The following are various inbulit functions for type casting. 1. int() 2. float() 3. complex() 4. bool() 5. str()

### 1. int() :-

--> We can use this function to convert values from other types to int.

In [19]:
int(123.456)

123

In [20]:
int(10+20j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [21]:
int(True)

1

In [22]:
int(False)

0

In [23]:
int("10")

10

In [24]:
int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [25]:
int("OB1111")

ValueError: invalid literal for int() with base 10: 'OB1111'

In [26]:
int("Ten")

ValueError: invalid literal for int() with base 10: 'Ten'

NOTE :- 
1. We can convert from any type of int except complex type.
2. If we want to convert str type to int type, compulsory str should contain only integral value and should be specified in base-10

### 2. float() :-

--> We can use float() function to convert other type values to float type.

In [27]:
float(10)

10.0

In [28]:
float(10+20j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [29]:
float(True)

1.0

In [30]:
float(False)

0.0

In [31]:
float("10")

10.0

In [32]:
float("10.5")

10.5

In [33]:
float("Ten")

ValueError: could not convert string to float: 'Ten'

In [34]:
float("OB111")

ValueError: could not convert string to float: 'OB111'

In [35]:
float(0b111)

7.0

NOTE :-
1. We can convert any type value to float type except complex type.
2. Whenever we are trying to convert str type to float type compulsory str should be either integral or floating point literal and should be specified only base 10.

### 3. complex() :-

--> We can use complex() function to convert other type values to complex type.

from 1 : complex(x) ---> x=0j
 
from 2 : commplex(x,y) ---> x+yj

from 1 : Complex(x) we can use this function to convert x into complex number with real part and imaginary part 0.

In [36]:
complex(10)

(10+0j)

In [37]:
complex(10.5)

(10.5+0j)

In [38]:
complex(True)

(1+0j)

In [39]:
complex(False)

0j

In [40]:
complex("10")

(10+0j)

In [41]:
complex("10.5")

(10.5+0j)

In [42]:
complex("Ten")

ValueError: complex() arg is a malformed string

In [43]:
complex("0b111")

ValueError: complex() arg is a malformed string

In [44]:
complex(0b1111)

(15+0j)

from 2 : Complex(x,y) we can use this method to convert x and y into complex number such that x will be real part and y will be imaginary part.

In [45]:
complex(10,20)

(10+20j)

In [46]:
complex(True,False)

(1+0j)

In [47]:
complex(10,20.5)

(10+20.5j)

In [48]:
complex('10','20')
# Complex() can't take second argument if first is a string

TypeError: complex() can't take second arg if first is a string

### 4. bool() :-

--> We can use bool() function to convert other types to bool type.

###### For int argument :-

In [49]:
bool(0)

False

In [50]:
bool(1)

True

In [51]:
bool(10)

True

In [52]:
bool(-1)

True

###### For float argument :-

In [53]:
bool(0.0)

False

In [54]:
bool(0.000000000001)

True

In [55]:
bool(0.1)

True

In [56]:
bool(0.123)

True

###### For complex argument ;-

In [57]:
bool(10+20j)

True

In [58]:
bool(0+1.5j)

True

In [59]:
bool(0+0j)
# if both real and imaginary parts

False

###### For str arguments :-

In [60]:
bool("True")

True

In [61]:
bool("False")

True

In [62]:
bool("Rohit")

True

In [63]:
bool(' ')

True

In [64]:
bool('')

False

### 5. str() :-

--> We can use this method to convert other types values to str types.

In [65]:
str(10)

'10'

In [66]:
str(10.5)

'10.5'

In [67]:
str(10+20j)

'(10+20j)'

In [68]:
str(True)

'True'

In [69]:
str(False)

'False'