# Logical operation

#### a) and :-

---> For boolean type iff both arguments are True then only result is true

True and True   --> True

In [1]:
x=10 and 20

In [2]:
print(x)

20

In [3]:
y=0 and 20

In [4]:
print(y)

0

In [5]:
x= 1 and 'kiran'

In [6]:
print(x)

kiran

In [7]:
x=  0 and 'kira0n'

In [8]:
print(x)

0

In [14]:
x=''and 'kiran'

In [15]:
print(x)

In [1]:
True and True

True

#### b) or :-

---> If atleast one argument is true then result is True

True or False --> True

In [2]:
True or False

True

In [17]:
z=10 or 10/0

In [18]:
print(z)

10

In [9]:
x= 10
y= 20
a= x or y

In [10]:
print (a)

10

In [11]:
x= 0
y= 20
b= x or y

In [12]:
print(b)

20

In [15]:
a=30 or 0

In [16]:
print(a)

30

In [17]:
c=0 or 10

In [18]:
print(c)

10

In [ ]:
z=0 or 10/0

ZeroDivisionError: division by zero

#### c) not :-

---> Complement

In [3]:
not True

False

In [19]:
not 10

False

In [20]:
not 0

True

In [21]:
not ""

True

 #### For Not boolean types variable :-

 0 -> False

 non-zero value ->True
 
 empty string -> False

In [7]:
#   x and y
x= 10 and 20
print(x)

20

In [8]:
# x and y
y=0 and 10
print(y)

0

NOTE:-

1) x and y --> If x evaluate False then result is x otherwise return y.
2) If first argument is zero(0) then result is zero otherwise result is y.

In [10]:
x= 1 and 'Rohit'
print(x)

Rohit

In [12]:
y= 0 and 'Rohit'
print(y)

0

In [19]:
z= () and 'Rohit'
print(z)

()

# Bitwise Operator

1) Bitwise AND (&)
2) Bitwise OR (|)
3) Bitwise X-OR (^)
4) Bitwise Left Shift (<<)
5) Bitwise Right Shift (>>)
6) Bitwise Complement Operator(~)

#### 1) Bitwise AND (&)

In [21]:
x=5 & 6

101    --->5

110    --->6            
___
100  --->  ---> At first Convert the values of x in to Binary, then add  
___

In [23]:
x

4

#### 2) Bitwise OR (|)

In [25]:
x= 5 | 6

101   --->5

110   --->6             
___
111  --->  ---> At first Convert the values of x in to Binary, then add  
___

In [26]:
x

7

#### 3) Bitwise X-OR (^)

In [28]:
x= 5 ^ 6

101  --->5

110  --->6              
___
011  --->  ---> At first Convert the values of x in to Binary, then add  
___

In [29]:
x

3

#### 4) Bitwise Left Shift (<<)

In [31]:
x=10 << 2

--> 10 * 2^2 [to the power(^)] 

  = 40

In [33]:
x= 10 << 5

--> 10 * 2^5 [to the power(^) ]

  = 320

#### 5) Bitwise Right Shift (>>)

In [35]:
x=10 >> 2

either +ve = 0 

either -ve = 1

---> 10/2^2 -->Flore value
  
   = 2.5 = 2

In [36]:
x

2

#### 6) Bitwise Complement Operator(~)

In [38]:
x=~-10
print(x)

9

In [37]:
x=~10
print(x)

-11

#### Assignment Operator

Assignment operator is Assign the value to the variable.

In [41]:
a,b,c,d=10,20,30,40

In [42]:
print(b)

20

In [43]:
print(d)

40

#### Compound Assignment Operator

In [25]:
x=20
x=x+20

In [26]:
print(x)

40

In [27]:
x=1
++x

1

In [28]:
x=1
10++x

11

In [29]:
x=1
--x

1

In [51]:
x=1

In [45]:
+-x

-1

In [32]:
print(x)

1

In [34]:
-+x

-1

#### Ternary Operator

In [37]:
a,b=50,30
c=30 if a>b else 40

In [38]:
print(c)

30

In [39]:
a,b=b,a

In [40]:
print(a)

30

#### 1) Swap Two Number


##### Using Third variable
a=10     

b=20

a=b

b=c

a=c


---->

a=10

b=20

a=a/b

b=a//b

a=a//b

In [65]:

# using Additio and Subtraction
a=10
b=20
a=a+b

b=a-b

a=a-b
print(a)
print(b)

20
10

In [67]:
# In python
a,b=10,20
a,b=b,a
print(a)
print(b)

20
10

#### Identity Operator

We can use identify operator for address comparision.

a=10
   
b=20

 ---->10 #100 ->a ->b  ----- a and b address to #100

In [69]:
x=[10,20,30]
y=[10,20,30]
print(x is y)    # ID
print(x==y)      # Content

False
True

#### Membership Operator :-

WE can use membership operator to check the given object present in given collection(it may be string,list,tuple,set,dict).

In [71]:
l=[10,20,30] 
print(20 in l) # 40 not in l --> True
print(40 in l) # 10 in [10,20,30] --> False

True
False

## Mathematical Function

In [42]:
import math

In [44]:
math.sqrt(16)

4.0