### Input or Output Statement

python 2 --> (version) --> row_input()

python 3 --> (version) --> as String (Object)

In [ ]:
x=int(input("Enter a number"))      # The noumber = 20

In [10]:
print(x)     # Here we can see the Output

20

In [16]:
x=input("Enter 1st noumber")   # 1st noumber is 10 
y=input("Enter 2nd noumber")   # 2nd noumber is 20
print(x+y)

1020

In [19]:
type(x), type(y)

(str, str)

In [27]:
x=input("Enter 1st noumber")   # 1st number is 20 
y=input("Enter 2nd noumber")   # 2nd number is 30
x=int(x)          # str convert into int
y=int(y)          # str convert into int
print(x+y)

50

x=int(input("Enter 1st number"))

____3____2___________1

### Enter Two Noumber

In [ ]:
x=int(input("Enter two number")).split(',')

AttributeError: 'int' object has no attribute 'split'

In [ ]:

a,b=10,20
[int(i) for in (input("Enter two number"))]

SyntaxError: invalid syntax (3273467187.py, line 2)

### eval :-

NOTE :-

eval() take a string and evaluate the result

In [58]:
x=eval("10+20//2")
print(x)

20

In [ ]:
x=eval(input("Enter a exp."))      # exp = 20+30+30//3*5*5
                                   #     = 20+30+10*5*5
                                   #     = 20+30+250
                                   #     = 300
print(x)

300

#### Output Statement

NOTE :-

WE can use print function to display output

1 -->

In [62]:
# 1) print() without any argument print a new line

a,b,c=10,20,30

In [19]:
print('values are',a,b,c)

values are 10 20 30

In [20]:
print (a,b,c,sep='@')

10@20@30

2 --->

#### Print with formated string

In [73]:
name='Rohit'
age=22
print('MY name is',name,'and age is',age)

MY name is Rohit and age is 22

In [74]:
print("My name is %s and age is %d"%(name,age))

My name is Rohit and age is 22

In [67]:
a,b,c=10,20,30
print("values are %d%d%d"%(a,b,c))

values are 102030

#### Print with replacement operator

In [77]:
name='ABC'
age=22
salary=35000.50
print("MY name is {},age is {} and salary is {}".format(name,age,salary))

MY name is ABC,age is 22 and salary is 35000.5

In [79]:
print("MY name is {},age is {} and salary is {}".format('Rahul',25,30000.50))

MY name is Rahul,age is 25 and salary is 30000.5

### f-string

In [30]:
print(f"my name is {name},age is {age}")

my name is ABC,age is 22

In [31]:
f"{2*10}"

'20'

In [59]:
int(f"{2*10}")

20

In [101]:
pi=3.14159
print(f"The value of pi : {pi: 2f}")

The value of pi :  3.141590

In [94]:
x=12
print(f"x={x:05d}")

x=00012

In [99]:
x=55
print(f"x={x:010d}")

x=0000000055