In [1]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

### for loop

NOTE :-

If we want to execute some action every element in some sequence (it may be string or collection) then we should go for  for loop.

Body will be execute for every element present in sequence. 

    Eg:-   for i in range(10):
               print(i)

In [ ]:
for i in range(10):
    print(i)    # Here always '\n' present in print()

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(0,101,2):
    print(i,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [6]:
for i in range(0,5):
    for j in range(0,5):
        print(i,j);

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [9]:
for row in range(1,6):
    for col in range(1,row+1): 
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [3]:
for row in range(1,6):
    a=1
    for col in range(1,row+1): 
        print(a,end=' ')
        a=a+1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
for row in range(1,6):
    for col in range(1,row+1): 
        print(row,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [9]:
for row in range(5,0,-1):
    for col in range(5,row-1,-1): 
        print(col,end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [30]:
for row in range(1,6):
    a=5
    for col in range(1,row+1): 
        print(a,end=' ')
        a=a-1
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [27]:
for row in range(1,6):
    a=1
    for col in range(1,row+1): 
        print(a,end=' ')
        a=a+1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## not run

In [2]:
for row in range(5,0,-1):
    a=5
    for col in range(1,row+1): 
        print(a,end=' ')
        a=a+1
    print()

5 6 7 8 9
5 6 7 8
5 6 7
5 6
5

In [17]:
for row in range(1,6):
    for col in range(5,row-1,-1):
        print(col,end=' ')

    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [42]:
for row in range(1,6):
    a=5
    for col in range(1,row+1): 
        print(col%2,end=' ')
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [47]:
for row in range(1,6):
    for col in range(row,0,-1): 
        print(col%2,end=' ')
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [55]:
for row in range(1,6):
    a=row
    for col in range(a,0,-1): 
        print(col%2,end=' ')
        a=a-1
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [49]:
for row in range(1,6):
    a=row
    for col in range(1,row+1): 
        print(row + col,end=' ') 
    print()

2
3 4
4 5 6
5 6 7 8
6 7 8 9 10

In [54]:
for row in range(1,6):
    a=row
    for col in range(1,row+1): 
        print(col%row,end=' ') 
    print()

0
1 0
1 2 0
1 2 3 0
1 2 3 4 0

In [56]:
for row in range(1,6):
    a=row
    for col in range(1,row+1): 
        print(col*row,end=' ') 
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [57]:
for row in range(1,6):
    for col in range(5,row,-1):
        print("_",end=' ')
    print()

_ _ _ _
_ _ _
_ _
_

In [58]:
for row in range(1,6):
    for col in range(5,0,-1):
        print("_",end=' ')
    print()

_ _ _ _ _
_ _ _ _ _
_ _ _ _ _
_ _ _ _ _
_ _ _ _ _

In [1]:
for row in range(1,6):
    for col in range(5,0,-1):
        if col>row:
           print('  ',end='')
        else:
           print('* ',end='')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

### Useing While loop :-

In [2]:
row=1
while(row<6):
    col=1
    while(col<row+1):
        print(col,end=' ')
        col=col+1
    row=row+1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5